html {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body {
	margin: 0;
}

header {
	background-color: #e7001d;
	color: white;
	position: relative;
	padding: 1rem;
	text-align: center;
}

.medallion {
	position: absolute;
	width: 65px;
	left: calc(50% - 32.5px);
}
nav li {
	display: inline;
	background-color: #222222;
	width: 50%;
	float: left;
	padding: .5em;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

nav ol {
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
	border-left: 1px solid black;
	overflow: hidden;
}

a {
	color: white;
	text-decoration: none;
}

header h1 {
	position: relative;
	margin: 0;
	text-shadow: 1px 1px 5px black;
}

header h2 {
	position: relative;
	font-size: 13px;
	margin: 0;
	text-shadow: 1px 1px 5px black;
}

.paragraph {
	margin: 1em .5em;
}

.banner {
	position: relative;
	text-align: center;
}

.banner img {
	width: 100%;
}

.banner h1 {
	color: white;
	position: absolute;
	bottom: .3em;
	font-style: italic;
	width: 100%;
	text-shadow: 1px 1px 5px black;
}

.dragon {
	text-align: center;
	background-color: #e4c22a;
	padding: .5em;
}

.dragon img {
	width: 40%;
	float: left;
	margin-left: 6.5%;
}

.dragon p {
	clear: left;
	font-style: italic;
}

.goat {
	text-align: center;
	background-color: #222222;
	padding: .5em;
	color: white;
}

.goat img {
	width: 40%;
	float: left;
	margin-left: 6.5%;
}

.goat p {
	clear: left;
	font-style: italic;
	color: white;
}

.rooster {
	text-align: center;
	background-color: #bc0017;
	padding: .5em;
	color: white;
}

.rooster img {
	width: 40%;
	float: left;
	margin-left: 6.5%;
}

.rooster p {
	clear: left;
	font-style: italic;
	color: white;
}

.ox {
	text-align: center;
	background-color: #e4c22a;
	padding: .5em;
	color: black;
}

.ox img {
	width: 40%;
	float: left;
	margin-left: 6.5%;
}

.ox p {
	clear: left;
	font-style: italic;
	color: black;
}

footer {
	background-color: #222222;
	text-align: center;
	padding: 1em;
	text-decoration: underline;
}