html {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body {
	margin: 0;
}

header {
	background-color: #e7001d;
	color: white;
	position: relative;
	padding: 1rem;
	text-align: center;
}

.medallion {
	position: absolute;
	width: 65px;
	left: calc(50% - 32.5px);
}

ol {
	display: inline;
}

header h1 {
	position: relative;
	margin: 0;
}

header h2 {
	position: relative;
	font-size: 13px;
	margin: 0;
}